asgiref==2.3.2
attrs==18.2.0
autobahn==18.12.1
Automat==0.7.0
channels==2.1.6
constantly==15.1.0
daphne==2.2.4
Django==2.1.4
django-heroku==0.3.1
hyperlink==18.0.0
incremental==17.5.0
gunicorn==19.9.0
pydub==0.23.0
PyHamcrest==1.9.0
pytz==2018.7
SpeechRecognition==3.8.1
mycroft-precise==0.2.0
pyspeech==0.0.0
gTTS==2.0.3
Pygame==1.9.4
speech==0.5.2
Sphinx==1.8.3
schedule==0.5.0
Twisted==18.9.0
txaio==18.8.1
zope.interface==4.6.0