{% include 'package_select/base.html' %}
{% load static %}
<!-- Custom style for this page-->
<link href="{%static 'css/recorder_google.css' %}" rel="stylesheet">

<body>
    <div class="container">
      <h1>Record Via Package</h1>

        {% block content %}
        {% csrf_token %}
        {{ form.as_p }}
          <h1 class="center" id="headline"></h1>
    <div class="right">
      <button id="start_button" >
        <img id="start_img" src="../static/icon/mic.gif" alt="Start" onclick="setInterval(change, 3000);" /></button>
    </div>
    <div id="results">
      <span id="final_span" class="final">{{ transcribed_text }}</span>
      <span id="interim_span" class="interim"></span>
    </div>
    <div class="center">
      <div class="sidebyside" style="text-align:right">
        <button id="copy_button" class="button" onclick="copyButton()">
          Copy and Paste</button>
        <div id="copy_info" class="info">
          Press Control-C to copy text.<br>(Command-C on Mac.)
        </div>
      </div>
      <div class="sidebyside">
        <button id="email_button" class="button" onclick="emailButton()">
          Create Email</button>
        <div id="email_info" class="info">
          Text sent to default email application.<br>
          (See chrome://settings/handlers to change.)
        </div>
      </div>

    {% endblock %}

    </div>
	</div>
</body>
<div id="info">
      <p id="info_start">Click on the microphone icon and begin speaking.</p>
      <p id="info_speak_now">Speak now.</p>
      <p id="info_denied">Permission to use - was denied.</p>
</div>
<script>

//get microphone access
navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function(stream) {
        $("#start_img").attr("src", "../static/icon/mic.gif");
        //showInfo('info_start');
    })
    .catch(function(err) {
        $("#start_img").attr("src", "../static/icon/mic-slash.gif");
        //showInfo('info_denied');
    });

//toggle mic icon on click
function change()
{
    var image = document.getElementById('start_img');

    var img1 = "../static/icon/mic.gif";
    var img2 = "../static/icon/mic-animate.gif";

    if (image.getAttribute('src')==img1) {
       image.setAttribute('src', img2);
       //showInfo('info_speak_now');

      $.ajax({
        url: '/transcribe_audio/',
        method: 'GET',
        data: {
            'isRecording': true
        },
        dataType: 'json',
        success: function (data) {
            $("#final_span").append(data["transcribed_text"]);
            $("#final_span").append(" ");
        },
          error: function (data) {
        }
      });

    } else if ((image.getAttribute('src')==img2)) {
       image.setAttribute('src', img1);
           //showInfo('info_start');
    }
}


//div info hide and show
function showInfo(s) {
  if (s) {
    for (var child = info.firstChild; child; child = child.nextSibling) {
      if (child.style) {
        child.style.display = child.id == s ? 'inline' : 'none';
      }
    }
    info.style.visibility = 'visible';
  } else {
    info.style.visibility = 'hidden';
  }
}

//stop recording
function stopRecording() {
    clearInterval
}

</script>


